[main]

date_fmt = %%Y.%%m.%%d_%%H:%%M:%%S_TAI
yr_start = 2011
yr_stop = 2012
dspan = 6
#dspan is in hours
cadence = 45
dataset_cadence = 45
#cadence is in seconds
dstep = 1800
#dstep is in seconds
dataset = hmi.ic_45s
segname = continuum.fits
#change dataset and segname according to the data used
#hmi.ic_45s --> continuum.fits
#hmi.m_45s --> magnetogram.fits
#hmi.m_720s --> magnetogram.fits
rootdir_in = /scratch/seismo/joshin/pipeline-test/
rootdir_out = /scratch/seismo/joshin/pipeline-test/

dI = -0.08
t_ref_b0 = 2010.06.07_14:17:20_TAI


R_sun = 695.7 
#Radius of sun in megametres
pixel_size = 0.03 
#Degrees per pixel in the remapped image
patch_size = 168
alpha = 0.6